.header{
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25,55,66);
    border-radius: 5px;
}
.headerItem{
    text-align: center;
    height: 82px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      background-color: rgb(53,86,101);
    }
}
.active{
  background-color: rgb(53,86,101);
}
.itemName{
    color:#02d7db;
  }
  .itemVal{
    font-size: 20px;
    margin-top: 10px;
  }
