.header{
    display: flex;
    align-items: stretch;
    width: 100vw;
    cursor: pointer;
}
.moveBar{
    flex:1;
    cursor: pointer;
    -webkit-app-region: drag;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    .logos{
       padding-left:35px;
       display: flex;
       justify-content:flex-start;
       align-items:flex-end;
       padding-top: 15px;
       .imgs{
        width:90px;
        height: 27px;
        img{
            width: 100%;
            height: 100%;
        }

       }
       p{
        font-size: 16px;
        font-weight: bold;
        margin: 0 5px;
      }
    }
    .name{
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        top:12px;
        right:50px;
        
    }
}
.switch{
    width: 72px;
    height: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 8px 10px 0 0;
}
    .small{
       width: 26px;
       height: 26px;
       cursor: pointer;
       border:2px solid #02D7DB;
       color: #fff;
       text-align: center;
       line-height: 26px;
       background: -webkit-linear-gradient(#010103, #1C3A3C);
       span{
         width: 100%;
         height: 100%;
         display: block;
         font-size:25px;
       }
    }
    .cut{
        width: 26px;
        height: 26px;
        cursor: pointer;
        border:2px solid #02D7DB;
        color: #fff;
        text-align: center;
        line-height: 26px;      
        background: -webkit-linear-gradient(#010103, #1C3A3C);
        span{
            width: 100%;
            height: 100%;
            display: block;
            font-size:25px;
        }
    }










