.total {
  width: 90px;
  height: 36px;
  border: 1px solid rgb(30, 95, 114);
  border-radius: 2px;
  text-align: center;
  color: rgb(31, 65, 86);
  font-size: 16px;
  line-height: 36px;
  color: rgb(119, 165, 190);
}
.bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.show {
  color: #0bb3b5;
  cursor: pointer;
}
.page {
  margin: 0 auto;
}