.total {
  width: 90px;
  height: 36px;
  border: 1px solid rgb(30, 95, 114);
  border-radius: 2px;
  text-align: center;
  color: rgb(31, 65, 86);
  font-size: 16px;
  line-height: 36px;
  color: rgb(119, 165, 190);
}
.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  right:0;
}
.show {
  color: #0bb3b5;
  cursor: pointer;
}
.page {
  margin: 0 auto;
}
.allpage{
  position: relative;
}
.emptyTips{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(253,97,72);
}