.layOut{
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom: 0;
   background: url("../../images/main_bg.png") no-repeat fixed center;
   background-size: 100% 100%;
   border:1px solid transparent;
}