.hdList{
    width: 928px;
    height:  659px;
    color:#fff;
    display: flex;
    height: 100%;
}
.left{
  width:686px;
  background-color: rgb(10,38,50);
  box-sizing: border-box;
  padding:0px 16px 18px 16px;
  height: 100%;
} 
.right{
  width:230px;
  background-color: rgb(10,38,50);
  margin-left:18px;
}

