.switchkey{
    width: 928px;
    height: 660px;
    background-color: #0A2632;
    display: flex;
    .mid_box{
        width: 592px;
        height: 391px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../images/publickey.png") no-repeat;
        .alltext{
            width: 424px;
            height: 228px;
            margin-left: 25px;
            .title{
               font-size: 16px;
               color: #fff;
               margin-bottom: 25px;
            }
            .choice{
                margin-bottom: 15px;
            }
            .btn{
                width: 95px;
                height: 35px;
                margin: 0 auto;
                background-image: linear-gradient(40deg,rgba(56, 56, 56, 0.8),rgba(75, 74, 74, 0.4),rgba(0,0,0,0));
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                background-color:#02d7db;
                border:1px solid #02d7db ;
            }
        }
    }
}
.flexCenter{
    display: flex;
    justify-content:center;
    align-items: center;
}