.page {
  display: flex;
  margin-left: auto;
}
.cube {
  width: 26px;
  height: 26px;
  margin: 0px 5px;
  text-align: center;
  line-height: 26px;
  color: #02d7db;
  text-align: center;
  font-size: 12px;
  margin-right: 6px;
  cursor: pointer;
  border:1px solid #02d7db;
  border-radius:2px;
}
.cube.active {
  background: #02d7db;
  color: #fff;
  border: 1px solid transparent;
}
