.page {
  display: flex;
}
.cube {
  width: 26px;
  height: 26px;
  margin: 0px 5px;
  text-align: center;
  line-height: 26px;
  color: #818181;
  text-align: center;
  font-size: 12px;
  margin-right: 6px;
  cursor: pointer;
  border:1px solid #E9E9EE;
  border-radius:3px;
}
.cube.active {
  background-image:linear-gradient(to bottom right, #fff, rgb(14, 171, 177));
  color: #818181;
  border: 1px solid transparent;
}
