.home {
  .Hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .line {
    display: flex;
  }

  .first-column {
    flex: 1;
  }

  .second-column {
    flex: 2;
  }
}
